<p id="notice"><%= notice %></p>

<h1>Pickups</h1>

<table>
  <thead>
    <tr>
      <th>Landlord</th>
      <th>Date</th>
      <th>Kg</th>
      <th>Price</th>
      <th>description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickups.each do |pickup| %>
      <tr>
        <td><%= pickup.landlord_id %></td>
        <td><%= pickup.date %></td>
        <td><%= pickup.kg %></td>
        <td><%= pickup.price %></td>
        <td><%= pickup.description %></td>
        <td><%= link_to 'Show', pickup %></td>
        <td><%= link_to 'Edit', edit_pickup_path(pickup) %></td>
        <td><%= link_to 'Destroy', pickup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickup', new_pickup_path %>
