
<%= simple_form_for(@bag) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :pickup %>
    <%= f.input :name %>
    <%= f.input :kg %>
    <%= f.input :price %>
    <%= f.input :avgprice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
